:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: whitesmoke; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* max-width: max-content; */
    margin: 3% auto;
    text-align: center;
}

body {
    min-width:auto;
    min-height: auto;
}

@media screen and (min-width: 768px) {
    .row {
        margin: 0 30%; /* Apply margin for tablet and larger media */
    }
}

.switchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Adjust the margin as needed */
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ringgitSen {
    width: 70px;
}

.row {
    display:flexbox; 
    /* Use flexbox */
    flex-wrap: nowrap; 
    /* Ensure items don't wrap to the next line */
    align-items: center; 
    /* Center items vertically */
    gap: 5px;
    padding: 3px;
}

.minus, .plus {
    max-width: fit-content;
}

/* .col {
    
    border: 0.1px solid;
} */

.duit {
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
    /* width: auto; */
    min-width: 170px;
}
.gambarDuitKertas {
    height: 30px;
    width: 60px;
}
/* .gambarDuitSyiling {
    height: 30px;
    width: auto;
} */
.banknote {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    margin: auto;
}
.denomination {
    /* display: flex; */
    /* justify-content: center; */
    font-weight: 600;
    align-items: center;
    margin: auto;
}

.darabInput {
    min-width: 150px;
}

.subAmount {
    text-align: right;
    min-width: 80px;
    max-width: 150px;
}

.bebutang button {
    margin-right: 10px; 
}

.containerLS {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dataLS {
    border: 1px grey dashed;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between cards */
}
.card {
    width: 100%; /* Ensure each card takes full width of its column */
}

.titleAndClear, .dateAndDelete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tacClear, .dndDelete {
    margin-left: auto;
}

footer {
    position: fixed;
    background-color:cadetblue;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px;
    text-align: center;
    color:azure;
    font-size: small;
}
.modal {
    color: black;
    font-size: initial;
}

a {
    font-weight: 500;
    color:olive;
    text-decoration: inherit;
}
a:hover {
    color:cadetblue;
}

.credit a{
    color: azure !important;
    font-size: x-small;
}
.credit a:hover{
    color:bisque !important;
}